node_modules/
__pycache__/
*.py[cod]
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
.coverage
dist/
build/
eggs/
.egg-info/
AI_For_Classroom/gemini/myenv/
AI_For_Classroom/gemini/myenv/
AI_For_Classroom/Classification/fasttext_train/fasttext_model.bin
AI_For_Classroom/gemini/myenv/lib/python3.9/site-packages/numpy/
AI_For_Classroom/gemini/myenv/lib/python3.9/site-packages/scipy/
Backend/uploads/